# Dependências
node_modules/
**/node_modules/

# Build
dist/
**/dist/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Ambiente
.env
.env.local
.env.*.local

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
